 # Capstone Project 2 - Data Wrangling
## Name: Brock Nosbisch

#### Summary:
This dataset contains detailed level data for random cities. The aggregated data is as of 3/1/2019 for this project's purpose.  This will later be updated so that Python will dynamically generate the data being brought in.  The data is read in through a csv (data.csv).  
I then set the index for the dataset to the unique identifier.  
Several fields needed to have their data types updated.
Removed Pending Starts, Reactivated, and Cancelled SAs.
Also removed a few bad records that had Null Rate Class, Company, Bill Cycle.

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set(color_codes=True)

In [44]:
# Function: print_counts
# Description: This function returns the Least Frequent and Most Frequent values of the field passed in.
#              We have hardcoded the df DataFrame.
# Valid values for parameters:
# dataframe = DataFrame
# field_name = name of field in the DF dataframe.
# sorting = asc or desc
# num = The number of records you want returned.
def print_counts(dataframe, field_name, sorting = 'asc', num = '5'):
    
    if sorting == 'asc':
        tmpSort = True
    else:
        tmpSort = False
        
    print(dataframe[field_name].value_counts(ascending=tmpSort).head(int(num)))
    
    return None

In [45]:
# Function: print_min_max
# Description: This function returns the Minimum or Maximum values of the field passed in.
#              We have hardcoded the df DataFrame.
# Valid values for parameters:
# dataframe = DataFrame
# field_name = name of field in the DF dataframe.
# min_max = min or max
# num = The number of records you want returned.
def print_min_max(dataframe, field_name, min_max = 'max', num = '5'):
    
    if min_max == 'max':
        tmpMinMax = False
    else:
        tmpMinMax = True

    print(dataframe[field_name].value_counts().to_frame().reset_index().sort_values('index', ascending=tmpMinMax).head(int(num)))
    
    return None

In [46]:

# Creation Functions Used.
def add_value_labels(ax, spacing=5):

    for rect in ax.patches:
        y_value = rect.get_height()
        x_value = rect.get_x() + rect.get_width() / 2

        space = spacing
        va = 'bottom'

        if y_value < 0:
            space *= -1
            # Vertical alignment
            va = 'top'

        label = "{:}".format(y_value)  # Use :.1f if wanting decimals.

        # Create annotation
        ax.annotate(label, (x_value, y_value), xytext=(0, space), textcoords="offset points", ha='center', va=va)

## Load Data

In [47]:
file_name = 'data.csv' # Service Agreement Level

df=pd.DataFrame()

# Read in the file with new column names.
df = pd.read_csv(file_name, header=0)

df.set_index('SA_ID', inplace=True)

In [48]:
df.head(5)

,CIS_DIVISION,ACCOUNT_ID,CUSTOMER_CLASS_CODE,CUSTOMER_CLASS_DESCRIPTION,PERSON_ID,SA_START_DATE,SA_START_YEAR,SA_START_YEAR_MONTH,SA_END_DATE,SA_END_YEAR,...,PREMISE_MIN_SA_START_DATE,PREMISE_MAX_SA_END_DATE,PREMISE_MIN_SA_END_DATE,PREMISE_PRIOR_STOP_DATE,PERSON_PRIOR_STOP_DATE,PREMISE_DAYS_INACTIVE_BEFORE,PERSON_DAYS_INACTIVE_BEFORE,PREMISE_DAYS_ACTIVE_BEFORE,PERSON_DAYS_ACTIVE_BEFORE,ACTIVE_DIFF_FROM_20190301
SA_ID,,,,,,,,,,,,,,,,,,,,,
98617454736,MGE,32872484444,RES,Residential,74065208888,5/2/2014,2014,201405,5/5/2015,2015,...,5/2/2014,9/11/2017,5/5/2015,NaN,NaN,0,0,0,0,NaN
52217068524,MGE,17405688888,LL,Landlord,46701128888,5/4/2015,2015,201505,5/28/2015,2015,...,5/2/2014,9/11/2017,5/5/2015,5/5/2015,8/5/2014,-1,272,368,230,NaN
30916337256,MGE,10305444444,RES,Residential,70661697776,5/27/2015,2015,201505,6/6/2016,2016,...,5/2/2014,9/11/2017,5/5/2015,5/28/2015,NaN,-1,0,24,0,NaN
52217071644,MGE,17405688888,LL,Landlord,46701128888,6/6/2016,2016,201606,9/21/2016,2016,...,5/2/2014,9/11/2017,5/5/2015,6/6/2016,3/2/2016,0,96,376,98,NaN
94688477016,MGE,31581836876,RES,Residential,42093753440,9/21/2016,2016,201609,11/9/2016,2016,...,5/2/2014,9/11/2017,5/5/2015,9/21/2016,NaN,0,0,107,0,NaN

## Update Data Types and Remove Unneeded/Bad Data

In [49]:
# Need to update data types.
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 670890 entries, 98617454736 to 119996415468
Data columns (total 93 columns):
CIS_DIVISION                     667276 non-null object
ACCOUNT_ID                       670890 non-null int64
CUSTOMER_CLASS_CODE              670890 non-null object
CUSTOMER_CLASS_DESCRIPTION       670890 non-null object
PERSON_ID                        670890 non-null int64
SA_START_DATE                    670890 non-null object
SA_START_YEAR                    670890 non-null int64
SA_START_YEAR_MONTH              670890 non-null int64
SA_END_DATE                      670890 non-null object
SA_END_YEAR                      670890 non-null int64
SA_END_YEAR_MONTH                670890 non-null int64
SA_STATUS_FLAG                   670890 non-null int64
SA_TYPE_CODE                     670890 non-null object
RATE_CLASS_CODE                  670451 non-null object
RATE_CLASS_DESCRIPTION           670451 non-null object
PREMISE_ID                       670890 non-null int64
CITY                             670890 non-null object
STATE                            670890 non-null object
POSTAL                           670890 non-null int64
BILL_CYCLE_CODE                  665926 non-null object
BILL_CYCLE_DESCRIPTION           665926 non-null object
SERVICE_TYPE_CODE                670890 non-null object
PREMISE_TYPE_CODE                670890 non-null object
TREND_AREA_CODE                  670890 non-null object
OFFICE_LOCATION                  670847 non-null object
OFFICE_LOCATION_DESCRIPTION      670847 non-null object
DNP_STARTED_FLAG                 670890 non-null object
DNP_STOPPED_FLAG                 670890 non-null object
INTERNAL_CREDIT_RATING           670890 non-null int64
PREMISE_LEVEL_12_MTH_DNP_FLAG    670890 non-null object
ACCOUNT_LEVEL_12_MTH_DNP_FLAG    670890 non-null object
PERSON_RCVD_18_MTHS_PLEDGE       670890 non-null object
PAYMENTS_IN_LAST_18_MONTHS       670890 non-null int64
BILLS_IN_LAST_18_MONTHS          670890 non-null int64
PAY_SEGS_IN_LAST_18_MONTHS       670890 non-null int64
BILL_SEGS_IN_LAST_18_MONTHS      670890 non-null int64
ARREARS_CURRENT_AMOUNT           670890 non-null float64
ARREARS_PAYOFF_AMOUNT            670890 non-null float64
TOTAL_CURRENT_AMOUNT             670890 non-null float64
TOTAL_PAYOFF_AMOUNT              670890 non-null float64
MOST_RECENT_PAYMENT_DATE         569710 non-null object
LATE_PAYMENT_COUNT               670890 non-null int64
SEASONAL_PRIOR_1_YR_FLAG         670890 non-null object
SEASONAL_PRIOR_2_YR_FLAG         670890 non-null object
SEASONAL_PRIOR_3_YR_FLAG         670890 non-null object
SA_START_DEGREE_DAY              670890 non-null int64
SA_START_AVG_TEMP                670890 non-null int64
SA_END_DEGREE_DAY                670890 non-null int64
SA_END_AVG_TEMP                  670890 non-null int64
STOP_2013                        670890 non-null int64
STOP_2014                        670890 non-null int64
STOP_2015                        670890 non-null int64
STOP_2016                        670890 non-null int64
STOP_2017                        670890 non-null int64
STOP_2018                        670890 non-null int64
STOP_2019                        670890 non-null int64
START_2013                       670890 non-null int64
START_2014                       670890 non-null int64
START_2015                       670890 non-null int64
START_2016                       670890 non-null int64
START_2017                       670890 non-null int64
START_2018                       670890 non-null int64
START_2019                       670890 non-null int64
PLEDGE_DATE_2013                 0 non-null float64
PLEDGE_FLAG_2013                 670890 non-null int64
PLEDGE_DATE_2014                 0 non-null float64
PLEDGE_FLAG_2014                 670890 non-null int64
PLEDGE_DATE_2015                 4426 non-null object
PLEDGE_FLAG_2015                 670890 non-null int64
PLEDGE_DATE_2016                 5920 non-null object
PLEDGE_FLAG_2016                 670890 non-null int64
PLEDGE_DATE_2017                 5729 non-null object
PLEDGE_FLAG_2017                 670890 non-null int64
PLEDGE_DATE_2018                 3141 non-null object
PLEDGE_FLAG_2018                 670890 non-null int64
PLEDGE_DATE_2019                 0 non-null float64
PLEDGE_FLAG_2019                 670890 non-null int64
USAGE_IN_LAST_18_MONTHS          425368 non-null float64
PERSON_MAX_SA_START_DATE         668553 non-null object
PERSON_MIN_SA_START_DATE         668553 non-null object
PERSON_MAX_SA_END_DATE           400944 non-null object
PERSON_MIN_SA_END_DATE           400944 non-null object
PREMISE_MAX_SA_START_DATE        669656 non-null object
PREMISE_MIN_SA_START_DATE        669656 non-null object
PREMISE_MAX_SA_END_DATE          458041 non-null object
PREMISE_MIN_SA_END_DATE          458041 non-null object
PREMISE_PRIOR_STOP_DATE          283942 non-null object
PERSON_PRIOR_STOP_DATE           176492 non-null object
PREMISE_DAYS_INACTIVE_BEFORE     670890 non-null int64
PERSON_DAYS_INACTIVE_BEFORE      670890 non-null int64
PREMISE_DAYS_ACTIVE_BEFORE       670890 non-null int64
PERSON_DAYS_ACTIVE_BEFORE        670890 non-null int64
ACTIVE_DIFF_FROM_20190301        380148 non-null float64
dtypes: float64(9), int64(44), object(40)
memory usage: 481.1+ MB

In [50]:
df = df.astype({'ACCOUNT_ID':'str', 
                'PERSON_ID':'str', 
                'SA_STATUS_FLAG':'str', 
                'PREMISE_ID':'str',
                'POSTAL':'str',
                'SA_START_YEAR':'str',
                'SA_START_YEAR_MONTH':'str',
                'SA_END_YEAR':'str',
                'SA_END_YEAR_MONTH':'str',
                'SA_START_DATE':'datetime64[ns]',
                'SA_END_DATE':'datetime64[ns]',
                'MOST_RECENT_PAYMENT_DATE':'datetime64[ns]',
                'PERSON_MAX_SA_START_DATE':'datetime64[ns]',
                'PERSON_MIN_SA_START_DATE':'datetime64[ns]',   
                'PERSON_MAX_SA_END_DATE':'datetime64[ns]',
                'PERSON_MIN_SA_END_DATE':'datetime64[ns]',
                'PREMISE_MAX_SA_START_DATE':'datetime64[ns]',
                'PREMISE_MIN_SA_START_DATE':'datetime64[ns]',
                'PREMISE_MAX_SA_END_DATE':'datetime64[ns]',
                'PREMISE_MIN_SA_END_DATE':'datetime64[ns]',
                'PREMISE_PRIOR_STOP_DATE':'datetime64[ns]',
                'PERSON_PRIOR_STOP_DATE':'datetime64[ns]',
                'PLEDGE_DATE_2013':'datetime64[ns]',
                'PLEDGE_DATE_2014':'datetime64[ns]',
                'PLEDGE_DATE_2015':'datetime64[ns]',
                'PLEDGE_DATE_2016':'datetime64[ns]',
                'PLEDGE_DATE_2017':'datetime64[ns]',
                'PLEDGE_DATE_2018':'datetime64[ns]',
                'PLEDGE_DATE_2019':'datetime64[ns]'
               })

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 670890 entries, 98617454736 to 119996415468
Data columns (total 93 columns):
CIS_DIVISION                     667276 non-null object
ACCOUNT_ID                       670890 non-null object
CUSTOMER_CLASS_CODE              670890 non-null object
CUSTOMER_CLASS_DESCRIPTION       670890 non-null object
PERSON_ID                        670890 non-null object
SA_START_DATE                    670890 non-null datetime64[ns]
SA_START_YEAR                    670890 non-null object
SA_START_YEAR_MONTH              670890 non-null object
SA_END_DATE                      670890 non-null datetime64[ns]
SA_END_YEAR                      670890 non-null object
SA_END_YEAR_MONTH                670890 non-null object
SA_STATUS_FLAG                   670890 non-null object
SA_TYPE_CODE                     670890 non-null object
RATE_CLASS_CODE                  670451 non-null object
RATE_CLASS_DESCRIPTION           670451 non-null object
PREMISE_ID                       670890 non-null object
CITY                             670890 non-null object
STATE                            670890 non-null object
POSTAL                           670890 non-null object
BILL_CYCLE_CODE                  665926 non-null object
BILL_CYCLE_DESCRIPTION           665926 non-null object
SERVICE_TYPE_CODE                670890 non-null object
PREMISE_TYPE_CODE                670890 non-null object
TREND_AREA_CODE                  670890 non-null object
OFFICE_LOCATION                  670847 non-null object
OFFICE_LOCATION_DESCRIPTION      670847 non-null object
DNP_STARTED_FLAG                 670890 non-null object
DNP_STOPPED_FLAG                 670890 non-null object
INTERNAL_CREDIT_RATING           670890 non-null int64
PREMISE_LEVEL_12_MTH_DNP_FLAG    670890 non-null object
ACCOUNT_LEVEL_12_MTH_DNP_FLAG    670890 non-null object
PERSON_RCVD_18_MTHS_PLEDGE       670890 non-null object
PAYMENTS_IN_LAST_18_MONTHS       670890 non-null int64
BILLS_IN_LAST_18_MONTHS          670890 non-null int64
PAY_SEGS_IN_LAST_18_MONTHS       670890 non-null int64
BILL_SEGS_IN_LAST_18_MONTHS      670890 non-null int64
ARREARS_CURRENT_AMOUNT           670890 non-null float64
ARREARS_PAYOFF_AMOUNT            670890 non-null float64
TOTAL_CURRENT_AMOUNT             670890 non-null float64
TOTAL_PAYOFF_AMOUNT              670890 non-null float64
MOST_RECENT_PAYMENT_DATE         569710 non-null datetime64[ns]
LATE_PAYMENT_COUNT               670890 non-null int64
SEASONAL_PRIOR_1_YR_FLAG         670890 non-null object
SEASONAL_PRIOR_2_YR_FLAG         670890 non-null object
SEASONAL_PRIOR_3_YR_FLAG         670890 non-null object
SA_START_DEGREE_DAY              670890 non-null int64
SA_START_AVG_TEMP                670890 non-null int64
SA_END_DEGREE_DAY                670890 non-null int64
SA_END_AVG_TEMP                  670890 non-null int64
STOP_2013                        670890 non-null int64
STOP_2014                        670890 non-null int64
STOP_2015                        670890 non-null int64
STOP_2016                        670890 non-null int64
STOP_2017                        670890 non-null int64
STOP_2018                        670890 non-null int64
STOP_2019                        670890 non-null int64
START_2013                       670890 non-null int64
START_2014                       670890 non-null int64
START_2015                       670890 non-null int64
START_2016                       670890 non-null int64
START_2017                       670890 non-null int64
START_2018                       670890 non-null int64
START_2019                       670890 non-null int64
PLEDGE_DATE_2013                 0 non-null datetime64[ns]
PLEDGE_FLAG_2013                 670890 non-null int64
PLEDGE_DATE_2014                 0 non-null datetime64[ns]
PLEDGE_FLAG_2014                 670890 non-null int64
PLEDGE_DATE_2015                 4426 non-null datetime64[ns]
PLEDGE_FLAG_2015                 670890 non-null int64
PLEDGE_DATE_2016                 5920 non-null datetime64[ns]
PLEDGE_FLAG_2016                 670890 non-null int64
PLEDGE_DATE_2017                 5729 non-null datetime64[ns]
PLEDGE_FLAG_2017                 670890 non-null int64
PLEDGE_DATE_2018                 3141 non-null datetime64[ns]
PLEDGE_FLAG_2018                 670890 non-null int64
PLEDGE_DATE_2019                 0 non-null datetime64[ns]
PLEDGE_FLAG_2019                 670890 non-null int64
USAGE_IN_LAST_18_MONTHS          425368 non-null float64
PERSON_MAX_SA_START_DATE         668553 non-null datetime64[ns]
PERSON_MIN_SA_START_DATE         668553 non-null datetime64[ns]
PERSON_MAX_SA_END_DATE           400944 non-null datetime64[ns]
PERSON_MIN_SA_END_DATE           400944 non-null datetime64[ns]
PREMISE_MAX_SA_START_DATE        669656 non-null datetime64[ns]
PREMISE_MIN_SA_START_DATE        669656 non-null datetime64[ns]
PREMISE_MAX_SA_END_DATE          458041 non-null datetime64[ns]
PREMISE_MIN_SA_END_DATE          458041 non-null datetime64[ns]
PREMISE_PRIOR_STOP_DATE          283942 non-null datetime64[ns]
PERSON_PRIOR_STOP_DATE           176492 non-null datetime64[ns]
PREMISE_DAYS_INACTIVE_BEFORE     670890 non-null int64
PERSON_DAYS_INACTIVE_BEFORE      670890 non-null int64
PREMISE_DAYS_ACTIVE_BEFORE       670890 non-null int64
PERSON_DAYS_ACTIVE_BEFORE        670890 non-null int64
ACTIVE_DIFF_FROM_20190301        380148 non-null float64
dtypes: datetime64[ns](20), float64(6), int64(35), object(32)
memory usage: 481.1+ MB
None

#### SA Status Flag Descriptions:
* 10 - Pending Start
* 20 - Active
* 30 - Pending Stop
* 40 - Stopped
* 50 - Reactivated
* 60 - Closed
* 70 - Cancelled

#### I will be removing the Cancelled SAs since they could have been cancelled for a number of reasons (ex. CSR mistake).  I will also be removing Reactivated since we don't deal with them much and all Pending Starts since we do not know what Division they are in yet.
#### There is also 1 bad record that I am removing.

In [51]:
print ('Before: ')
print_counts(df, 'SA_STATUS_FLAG', 'desc','10')

df = (df[df['SA_STATUS_FLAG'] != '70']) # Cancelled SAs
df = (df[df['SA_STATUS_FLAG'] != '50']) # Reactivated SAs
df = (df[df['SA_STATUS_FLAG'] != '10']) # Pending Start SAs
df = (df[df['RATE_CLASS_CODE'].notnull()]) # Removing 1 bad record
df = (df[df['CIS_DIVISION'].notnull()]) # Removing bad records
df = (df[df['BILL_CYCLE_CODE'].notnull()]) # Removing bad records


print()
print()
print ('After: ')
print_counts(df, 'SA_STATUS_FLAG', 'desc','10')

Before:
60    308618
20    308090
70     40725
40     12372
30       904
50       181
Name: SA_STATUS_FLAG, dtype: int64


After:
60    308257
20    308087
40     12366
30       904
Name: SA_STATUS_FLAG, dtype: int64

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 629614 entries, 98617454736 to 119996415468
Data columns (total 93 columns):
CIS_DIVISION                     629614 non-null object
ACCOUNT_ID                       629614 non-null object
CUSTOMER_CLASS_CODE              629614 non-null object
CUSTOMER_CLASS_DESCRIPTION       629614 non-null object
PERSON_ID                        629614 non-null object
SA_START_DATE                    629614 non-null datetime64[ns]
SA_START_YEAR                    629614 non-null object
SA_START_YEAR_MONTH              629614 non-null object
SA_END_DATE                      629614 non-null datetime64[ns]
SA_END_YEAR                      629614 non-null object
SA_END_YEAR_MONTH                629614 non-null object
SA_STATUS_FLAG                   629614 non-null object
SA_TYPE_CODE                     629614 non-null object
RATE_CLASS_CODE                  629614 non-null object
RATE_CLASS_DESCRIPTION           629614 non-null object
PREMISE_ID                       629614 non-null object
CITY                             629614 non-null object
STATE                            629614 non-null object
POSTAL                           629614 non-null object
BILL_CYCLE_CODE                  629614 non-null object
BILL_CYCLE_DESCRIPTION           629614 non-null object
SERVICE_TYPE_CODE                629614 non-null object
PREMISE_TYPE_CODE                629614 non-null object
TREND_AREA_CODE                  629614 non-null object
OFFICE_LOCATION                  629578 non-null object
OFFICE_LOCATION_DESCRIPTION      629578 non-null object
DNP_STARTED_FLAG                 629614 non-null object
DNP_STOPPED_FLAG                 629614 non-null object
INTERNAL_CREDIT_RATING           629614 non-null int64
PREMISE_LEVEL_12_MTH_DNP_FLAG    629614 non-null object
ACCOUNT_LEVEL_12_MTH_DNP_FLAG    629614 non-null object
PERSON_RCVD_18_MTHS_PLEDGE       629614 non-null object
PAYMENTS_IN_LAST_18_MONTHS       629614 non-null int64
BILLS_IN_LAST_18_MONTHS          629614 non-null int64
PAY_SEGS_IN_LAST_18_MONTHS       629614 non-null int64
BILL_SEGS_IN_LAST_18_MONTHS      629614 non-null int64
ARREARS_CURRENT_AMOUNT           629614 non-null float64
ARREARS_PAYOFF_AMOUNT            629614 non-null float64
TOTAL_CURRENT_AMOUNT             629614 non-null float64
TOTAL_PAYOFF_AMOUNT              629614 non-null float64
MOST_RECENT_PAYMENT_DATE         569558 non-null datetime64[ns]
LATE_PAYMENT_COUNT               629614 non-null int64
SEASONAL_PRIOR_1_YR_FLAG         629614 non-null object
SEASONAL_PRIOR_2_YR_FLAG         629614 non-null object
SEASONAL_PRIOR_3_YR_FLAG         629614 non-null object
SA_START_DEGREE_DAY              629614 non-null int64
SA_START_AVG_TEMP                629614 non-null int64
SA_END_DEGREE_DAY                629614 non-null int64
SA_END_AVG_TEMP                  629614 non-null int64
STOP_2013                        629614 non-null int64
STOP_2014                        629614 non-null int64
STOP_2015                        629614 non-null int64
STOP_2016                        629614 non-null int64
STOP_2017                        629614 non-null int64
STOP_2018                        629614 non-null int64
STOP_2019                        629614 non-null int64
START_2013                       629614 non-null int64
START_2014                       629614 non-null int64
START_2015                       629614 non-null int64
START_2016                       629614 non-null int64
START_2017                       629614 non-null int64
START_2018                       629614 non-null int64
START_2019                       629614 non-null int64
PLEDGE_DATE_2013                 0 non-null datetime64[ns]
PLEDGE_FLAG_2013                 629614 non-null int64
PLEDGE_DATE_2014                 0 non-null datetime64[ns]
PLEDGE_FLAG_2014                 629614 non-null int64
PLEDGE_DATE_2015                 4423 non-null datetime64[ns]
PLEDGE_FLAG_2015                 629614 non-null int64
PLEDGE_DATE_2016                 5912 non-null datetime64[ns]
PLEDGE_FLAG_2016                 629614 non-null int64
PLEDGE_DATE_2017                 5722 non-null datetime64[ns]
PLEDGE_FLAG_2017                 629614 non-null int64
PLEDGE_DATE_2018                 3137 non-null datetime64[ns]
PLEDGE_FLAG_2018                 629614 non-null int64
PLEDGE_DATE_2019                 0 non-null datetime64[ns]
PLEDGE_FLAG_2019                 629614 non-null int64
USAGE_IN_LAST_18_MONTHS          424436 non-null float64
PERSON_MAX_SA_START_DATE         629614 non-null datetime64[ns]
PERSON_MIN_SA_START_DATE         629614 non-null datetime64[ns]
PERSON_MAX_SA_END_DATE           368874 non-null datetime64[ns]
PERSON_MIN_SA_END_DATE           368874 non-null datetime64[ns]
PREMISE_MAX_SA_START_DATE        629614 non-null datetime64[ns]
PREMISE_MIN_SA_START_DATE        629614 non-null datetime64[ns]
PREMISE_MAX_SA_END_DATE          421190 non-null datetime64[ns]
PREMISE_MIN_SA_END_DATE          421190 non-null datetime64[ns]
PREMISE_PRIOR_STOP_DATE          259860 non-null datetime64[ns]
PERSON_PRIOR_STOP_DATE           156888 non-null datetime64[ns]
PREMISE_DAYS_INACTIVE_BEFORE     629614 non-null int64
PERSON_DAYS_INACTIVE_BEFORE      629614 non-null int64
PREMISE_DAYS_ACTIVE_BEFORE       629614 non-null int64
PERSON_DAYS_ACTIVE_BEFORE        629614 non-null int64
ACTIVE_DIFF_FROM_20190301        341199 non-null float64
dtypes: datetime64[ns](20), float64(6), int64(35), object(32)
memory usage: 451.5+ MB

In [53]:
df.head(5)

,CIS_DIVISION,ACCOUNT_ID,CUSTOMER_CLASS_CODE,CUSTOMER_CLASS_DESCRIPTION,PERSON_ID,SA_START_DATE,SA_START_YEAR,SA_START_YEAR_MONTH,SA_END_DATE,SA_END_YEAR,...,PREMISE_MIN_SA_START_DATE,PREMISE_MAX_SA_END_DATE,PREMISE_MIN_SA_END_DATE,PREMISE_PRIOR_STOP_DATE,PERSON_PRIOR_STOP_DATE,PREMISE_DAYS_INACTIVE_BEFORE,PERSON_DAYS_INACTIVE_BEFORE,PREMISE_DAYS_ACTIVE_BEFORE,PERSON_DAYS_ACTIVE_BEFORE,ACTIVE_DIFF_FROM_20190301
SA_ID,,,,,,,,,,,,,,,,,,,,,
98617454736,MGE,32872484444,RES,Residential,74065208888,2014-05-02,2014,201405,2015-05-05,2015,...,2014-05-02,2017-09-11,2015-05-05,NaT,NaT,0,0,0,0,NaN
52217068524,MGE,17405688888,LL,Landlord,46701128888,2015-05-04,2015,201505,2015-05-28,2015,...,2014-05-02,2017-09-11,2015-05-05,2015-05-05,2014-08-05,-1,272,368,230,NaN
30916337256,MGE,10305444444,RES,Residential,70661697776,2015-05-27,2015,201505,2016-06-06,2016,...,2014-05-02,2017-09-11,2015-05-05,2015-05-28,NaT,-1,0,24,0,NaN
52217071644,MGE,17405688888,LL,Landlord,46701128888,2016-06-06,2016,201606,2016-09-21,2016,...,2014-05-02,2017-09-11,2015-05-05,2016-06-06,2016-03-02,0,96,376,98,NaN
94688477016,MGE,31581836876,RES,Residential,42093753440,2016-09-21,2016,201609,2016-11-09,2016,...,2014-05-02,2017-09-11,2015-05-05,2016-09-21,NaT,0,0,107,0,NaN

In [54]:
df.describe()

,INTERNAL_CREDIT_RATING,PAYMENTS_IN_LAST_18_MONTHS,BILLS_IN_LAST_18_MONTHS,PAY_SEGS_IN_LAST_18_MONTHS,BILL_SEGS_IN_LAST_18_MONTHS,ARREARS_CURRENT_AMOUNT,ARREARS_PAYOFF_AMOUNT,TOTAL_CURRENT_AMOUNT,TOTAL_PAYOFF_AMOUNT,LATE_PAYMENT_COUNT,...,PLEDGE_FLAG_2016,PLEDGE_FLAG_2017,PLEDGE_FLAG_2018,PLEDGE_FLAG_2019,USAGE_IN_LAST_18_MONTHS,PREMISE_DAYS_INACTIVE_BEFORE,PERSON_DAYS_INACTIVE_BEFORE,PREMISE_DAYS_ACTIVE_BEFORE,PERSON_DAYS_ACTIVE_BEFORE,ACTIVE_DIFF_FROM_20190301
count,629614.000000,629614.000000,629614.000000,629614.000000,629614.000000,629614.000000,629614.000000,629614.000000,629614.000000,629614.000000,...,629614.000000,629614.000000,629614.000000,629614.0,4.244360e+05,629614.000000,629614.000000,629614.000000,629614.000000,341199.000000
mean,87.798696,8.365319,9.762805,8.365319,9.762805,63.674522,72.004196,65.126416,72.735144,0.757027,...,0.009390,0.009088,0.004982,0.0,1.724304e+03,11.967723,-4.192400,702.787268,322.276517,4340.969033
std,320.207257,7.833214,8.272476,7.833214,8.272476,231.976287,237.567303,343.662913,346.890135,2.500531,...,0.096445,0.094897,0.070410,0.0,4.811811e+04,74.136776,298.736588,2117.053659,1314.865041,4439.407456
min,-4262.000000,0.000000,0.000000,0.000000,0.000000,-23124.500000,-23124.500000,-13689.550000,-13689.550000,0.000000,...,0.000000,0.000000,0.000000,0.0,-2.945600e+04,-2286.000000,-18249.000000,0.000000,0.000000,1.000000
25%,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,5.620000e+02,0.000000,0.000000,0.000000,0.000000,857.000000
50%,-1.000000,7.000000,11.000000,7.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,1.052000e+03,0.000000,0.000000,0.000000,0.000000,2733.000000
75%,-1.000000,17.000000,18.000000,17.000000,18.000000,98.000000,117.560000,100.000000,117.560000,0.000000,...,0.000000,0.000000,0.000000,0.0,1.489801e+03,0.000000,0.000000,252.000000,0.000000,6671.000000
max,2511.000000,199.000000,111.000000,199.000000,111.000000,64284.540000,64284.540000,202261.480000,202261.480000,19.000000,...,1.000000,1.000000,1.000000,0.0,2.104827e+07,7465.000000,7419.000000,22769.000000,22224.000000,38585.000000

### Write data to file to use in Data Story

In [55]:
filename = 'data_wrangling_out.csv'
df.to_csv(filename)

### ANNEX

In [56]:
df.loc[(df['PERSON_ID']==str(1000994193*8))]

,CIS_DIVISION,ACCOUNT_ID,CUSTOMER_CLASS_CODE,CUSTOMER_CLASS_DESCRIPTION,PERSON_ID,SA_START_DATE,SA_START_YEAR,SA_START_YEAR_MONTH,SA_END_DATE,SA_END_YEAR,...,PREMISE_MIN_SA_START_DATE,PREMISE_MAX_SA_END_DATE,PREMISE_MIN_SA_END_DATE,PREMISE_PRIOR_STOP_DATE,PERSON_PRIOR_STOP_DATE,PREMISE_DAYS_INACTIVE_BEFORE,PERSON_DAYS_INACTIVE_BEFORE,PREMISE_DAYS_ACTIVE_BEFORE,PERSON_DAYS_ACTIVE_BEFORE,ACTIVE_DIFF_FROM_20190301
SA_ID,,,,,,,,,,,,,,,,,,,,,
41325819840,MGE,13791730408,RES,Residential,8007953544,2017-03-08,2017,201703,2017-12-27,2017,...,2014-08-27,2019-01-14,2016-12-05,2017-03-08,NaT,0,0,93,0,NaN
41359068480,MGE,13791730408,RES,Residential,8007953544,2018-03-05,2018,201803,2099-12-31,2099,...,2014-11-24,2018-03-05,2015-09-07,2018-03-05,2017-12-27,0,68,553,294,361.0